DJANGO_SECRET_KEY=reemplazar_por_una_clave_generada
DJANGO_DEBUG=True
DB_NAME=entradas_eventos_db
DB_USER=postgres
DB_PASSWORD=reemplazar_por_tu_password
DB_HOST=localhost
DB_PORT=5432
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
WEBPAY_ENVIRONMENT=integration
WEBPAY_COMMERCE_CODE=
WEBPAY_API_KEY=
WEBPAY_RETURN_URL=
