DJANGO_SECRET_KEY=django-insecure-vr_#e+t$ru-8&tkh1_zjsw=z#pijig@s+gu#gd@b&#6(mwb-+@
DJANGO_DEBUG=True
DB_NAME=entradas_eventos_db
DB_USER=postgres
DB_PASSWORD=#Allyz2004
DB_HOST=localhost
DB_PORT=5432